@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 900;
  src: url('../fonts/roboto-v30-cyrillic-900.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic-900.woff') format('woff'),
}

html {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%; /*10px*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 32rem;
  min-height: 100vh;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: #fff;
  background-color: #000;
  background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}


img,
svg {
  /* display: block;
  max-width: 100%;
  height: auto; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

button, input {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  /* background-color: transparent; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  height: 100%;
  max-width: 150rem;
  width: 100%;
  padding: 0 10rem;
  margin: 0 auto;
}

.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: #fff;
  border: 1px solid transparent;
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 4rem 11rem 4rem 8rem;
  z-index: 10;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  gap: 7.1rem;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

/* .header__nav a:not(:last-child) {
  margin-right: 7.1rem;
} */

.header__nav {
  display: flex;
  gap: 7.1rem;
}

.header__nav a {
  line-height: 1.5;
  text-align: center;
}

.header__button {
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

/* main-display */

.main-display {
  padding-top: 27rem;
  background: url('../img/main-screen__bgc.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-display__background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}

.main-display__title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.4;
  width: 78rem;
  margin-bottom: 5rem;
}

.main-diplay__timer {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 7.6rem;
}

.main-display__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.timer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
}

.timer__count {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4;
}

.timer__text {
  font-size: 1.6rem;
  line-height: 1.4;
  opacity: 0.4;
}

/* work */

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work__wrap {
  display: flex;
  gap: 13.9rem;
}

.work__img {
  width: 50%;
  /* width: 52.6rem;
  height: 49.9rem; */
}

.work__text {
  width: 50%;
  padding-top: 6.9rem;
}

.work__title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.4;
  margin-bottom: 4.5rem;
}

.work__description {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* process */

.process {
  position: relative;
  padding-bottom: 20rem;
}

.title {
  display: flex;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.4;
  margin-bottom: 4.9rem;
  }

.title::before {
  content: '';
  display: block;
  width: 10rem;
  background: url('../img/Ellipse_1.svg') no-repeat left/contain;
}

.description {
  line-height: 1.6;
  opacity: 0.5;
  max-width: 41.1rem;
  width: 100%;
  margin-bottom: 8rem;
}

.process__list {
  display: flex;
  gap: 1.8rem;
}

.process__list::after {
  content: '';
  display: block;
  max-width: 130rem;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  top: 31rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.process__item {
  max-width: 30.6rem;
}

.process__item-title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4;
  margin-bottom: 6.5rem;
}

.process__item-text {
  font-size: 1.4rem;
  line-height: 1.6;
  opacity: 0.5;
}

/* command */

.command {
  padding-bottom: 20rem;
}

.command__title::before {
  content: '';
  display: block;
  width: 11rem;
  background: url('../img/Ellipse_1.svg') no-repeat left/contain;
  transform: translateY(-2rem) rotate(-42.5deg);
}

.command__title {
  margin-bottom: 11.3rem;
}

.command__list {
  display: flex;
  justify-content: space-between;
  
}

.command__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 41.6rem;
  width: 100%;
}

.command__img {
  width: 19rem;
  height: 19rem;
  border-radius: 50%;
  margin-bottom: 4rem;
}

.command__name {
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.commamd__profession {
  line-height: 1.6;
  opacity: 0.8;
  margin-bottom: 3rem;
}

.commad__link {
  border: 1px solid #fff;
}

/* assambly */

.assambly {
  padding-bottom: 24.4rem;
}

.assambly__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assambly__title {
  margin-bottom: 3rem;
}

.assambly__title::before {
  display: none;
}

.assambly__button {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  margin-bottom: 4rem;
}

.assambly__list {
  display: flex;
  gap: 3rem;
}

.assambly__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  width: 5rem;
  height: 5rem;
}


/* media */

@media (max-width: 900px) {
  .header__wrap{
    gap: 3rem;
  }

  .header__nav {
    gap: 3rem;
  }
  
  .header__menu {
    gap: 3rem;
    width: 95%;
  }

  .main-display__title {
    font-weight: 700;
    font-size: 3.4rem;
    width: 78rem;
    margin-bottom: 3rem;
  }
}